<h1>Dictionary!</h1>

<h3>Enter a new word:</h3>
<form action="/all_words" method="post">
  <label for="word">word</label>
  <input id="word" name="word" type="text">

  <label for="part_of_speach">Part of speach:</label>
  <input id="part_of_speach" name="part_of_speach" type="text">

  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">
  <button type="submit">Add Word</button>
</form>

<h3>Words already added:</h3>
<ul>
  <% @all_words.each() do |word| %>

  <li><a href="/single_word/<%= word.w_id() %>"> <%= word.word() %></a></li>
  <% end %>
</ul>
