<h1>Dictionary!</h1>

<a href="/add_word">Enter a new word</a></p>


<h3>Words already added:</h3>
<ul>
  <% @all_words.each() do |word| %>

  <li><a href="/single_word/<%= word.w_id() %>"> <%= word.word() %></a></li>
  <% end %>
</ul>
